<%= form_with model: @supplier do |f| %>
<p>
<%= f.label :display_name %>
<%= f.text_field :display_name %>
</p>
<p>
<%= f.label :address %>
<%= f.text_field :address %>
</p>
<p>
<%= f.label :business_name %>
<%= f.text_field :business_name %>
</p>
<p>
<%= f.label :cover %>
<%= f.file_field :cover %>
</p>
<p>
<%= f.label :business_num %>
<%= f.text_field :business_num %>
</p>
<p>
<%= f.label :website %>
<%= f.url_field :website %>
</p>
<p>
<%= f.label :system_type_id %>
<%= f.collection_select :system_type_id, @system_types, :id, :name %>
</p>
<p>
<%= f.label :battery_id %>
<%= f.collection_check_boxes :battery_ids, @batteries, :id, :name %>
</p>
<p>
<%= f.label :solar_id %>
<%= f.collection_check_boxes :solar_ids, @solars, :id, :name %>
</p>
<p>
<%= f.label :accred_num %>
<%= f.text_field :accred_num %>
</p>
<p>
<%= f.label :phone %>
<%= f.text_field :phone %>
</p>
<p>
<%= f.label :display_email %>
<%= f.email_field :display_email %>
</p>
<p>
<%= f.label :quote_email %>
<%= f.email_field :quote_email %>
</p>
<p>
<%= f.label :short_description  %>
<%= f.text_area :short_description, size: "35x5" %>
</p>
<p>
<%= f.label :long_description %>
<%= f.text_area :long_description, size: "70x5" %>
</p>
<p>
<%= f.submit caption %>
</p>

<% end %> 