<div class = "container">
<% if user_signed_in? %>
<h1>My Supplier List</h1>
<% else %>
<h1>Solar and Battery Companies</h1>
<% end %> 



<% if user_signed_in? %>
<%= link_to "List New Battery/Solar Business", new_supplier_path %>
<% end %> 

<div>
<% @suppliers.each do |supplier| %>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
        <% if supplier.cover.attached? %>
            <%= cl_image_tag supplier.cover.key, crop: :scale, class: "img-fluid rounded-start", cloud_name: 'testtestetsettetest123123123123' if supplier.cover.attached? %>
        <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= supplier.display_name %></h5>
        <p class="card-text"><%= supplier.short_description %></p>
        <p> <%= link_to supplier.display_name, supplier_path(supplier.id) %></p>
      </div>
    </div>
  </div>
</div>
<% end %> 
</div>