<h1>Suppliers</h1>

<%= form_with url: "/suppliers", method: :get do |form| %>
      <%= form.label :postcode %>
      <%= form.text_field :postcode %>
      <%= form.submit :search %>
    <% end %>

<% if user_signed_in? %>
<%= link_to "New Supplier", new_supplier_path %>
<% end %> 
<table>
    <tr>
        <th> Name </th>
        <th> System Types </th>
        <th> Postcodes Served </th>
    </tr>
    <% @suppliers.each do |supplier| %>
    <tr>
        <td> <%= link_to supplier.display_name, supplier_path(supplier.id) %> </td>
        <td> <%= supplier.system_type.name %> </td>
        <td> <%= supplier.post_code_ranges.map { |p| p.postcode_from_to }.join(", ") %> </td>

    </tr>
    <% end %>
</table>