<h1> <%= @supplier.display_name %> </h1>
<div>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
        <% if @supplier.cover.attached? %>
            <%= cl_image_tag @supplier.cover.key, crop: :scale, class: "img-fluid rounded-start", cloud_name: 'testtestetsettetest123123123123' if @supplier.cover.attached? %>
        <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><%= @supplier.display_name %></h4>
        <p class="card-text"><%= @supplier.short_description %></p>
        <p class="card-text">Address: <%= @supplier.address %></p>
        <p class="card-text"><%= link_to @supplier.website, "https://#{@supplier.website}" %></p>
        <h5 class="card-title">Battery Options</h5>
        <p class="card-text"><%= @supplier.batteries.map { |b| b.name }.join(", ") %></p>
        <h5 class="card-title">Solar System Options</h5>
        <p class="card-text"><%=@supplier.solars.map { |s| s.name }.join(", ") %></p>
        <% if !user_signed_in? %>
            <% if @supplier.price_solar%>
                <h4 class="card-title">10kW Solar Systems From <%=number_to_currency(@supplier.price_solar - @rebate , :unit => "$")%>
                    <% if @supplier.price_battery %>
                        Or <%=number_to_currency(@supplier.price_battery - @rebate , :unit => "$")%> Including A Battery
                    <% end %>
                </h4>
                <p class="card-text">Solar System Offer Inclusions: <%=@supplier.solar_offer%></p>
                <% if @supplier.price_battery %>
                    <p class="card-text">Battery Offer Inclusions: <%=@supplier.battery_offer%></p>
                <% end %>
                <p class="card-text">Rebate: Price includes rebate of <%=number_to_currency(@rebate, :unit => "$")%> based on postcode <%=params[:postcode]%>, a STC price of $40.00, a system size of 10kW and an installation year <%= Date.today.year %>. Rebate subject to STC market price fluctuations.</p>
            <% end %>
        <p class = "card-text">
        <%= mail_to @supplier.quote_email, "Request Detailed Quote", encode: "hex" %>
        </p>
        <% else %>
            <h4 class="card-title">10kW Solar Systems From <%=number_to_currency(@supplier.price_solar , :unit => "$")%> (Before Rebates) 
                    <% if @supplier.price_battery %>
                        Or <%=number_to_currency(@supplier.price_battery, :unit => "$")%> Including A Battery
                    <% end %>
                </h4>
                <p class="card-text">Solar System Offer Inclusions: <%=@supplier.solar_offer%></p>
                <% if @supplier.price_battery %>
                    <p class="card-text">Battery Offer Inclusions: <%=@supplier.battery_offer%></p>
                <% end %>
        <% end %>
        
        <p class = "card-text">
        <%= link_to "Go back", user_signed_in? ? suppliers_path : suppliers_path(postcode: params[:postcode])%>
        </p>
        <% if user_signed_in? %>
        <p class = "card-text">
        <%= link_to "Edit",  edit_supplier_path %> 
        </p>
        <p class = "card-text">
        <%= link_to "Delete",  supplier_path, method: :delete, data: { confirm: "Are you sure you want to delete this supplier?"} %>
        </p>
        <% end %>

      </div>
    </div>
  </div>
</div>
